.student-table {
	width: 85%;
  margin: 25px auto 0;
  /* .student-table__row */
  &__row {
    height: 30px;
  }
  /* .student-table__cail */
  &__cail {
    border: 1px solid #000;
    height: 30px;
  }
  /* .student-table__input */
  &__input {
		width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    &#table-group {
      cursor: pointer;
    }
    &, &:focus, &:active, &:hover {
      outline: 0;
      outline-offset: 0;
    }
  }
  /* .student-table__action */
  &__action {
    display: flex;
    padding: 5px 10px;
  }
  /* .student-table__action-img */
  &__action-img {
    margin: 0 10px;
    cursor: pointer;
  }
  /* .student-table__action-edit */
  &__action-edit {
    width: 100%;
    height: 100%;
  }
}

